<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}შინაგან საქმეთა სამინისტრო{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/responsive.css') }}">
    <!-- FB Meta tags (start) -->
    <meta property="og:title" content="მთავარი გვერდი" />
    <meta property="og:url" content="//police.ge/ge/home" />
    <meta property="og:image" content="//police.ge/files/image headers/head_banner.jpg" />

    <!-- <meta property="og:image" content="//police.ge/_website/images/mia-logo-fb-share.png"/> -->
    <!--<meta property="og:image" content="//police.ge/http://police.ge/files/image headers/head_banner.jpg"/>-->
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="საქართველოს შინაგან საქმეთა სამინისტრო" />
    <meta property="fb:admins" content="" />
    <meta property="og:email" content="sazogadoeba@mia.gov.ge" />
    <!-- FB Meta tags (end)-->
    <meta name="description" content="საქართველოს შინაგან საქმეთა სამინისტრო," />
    <meta name="keywords" content="შინაგან, საქმეთა, სამინისტრო, პოლიცია, თბილისი, საქართველო," />
    <meta name="google-site-verification" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Robots" content="index, follow" />
    <meta name="author" content="" />
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<header class="header">
    <nav>
        <div class="logo">
            <a href="/"><img class="main_logo" src="../static/images/შსს ლოგო.svg" alt="ლოგო"> შინაგან საქმეთა
                სამინისტრო</a>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul class="menu">
            {% for item in navigation_items %}
            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>

<body>
    {% block content %}
    <!-- content -->
    {% endblock %}

    <!-- footer -->
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>