{% extends "base.html" %}

{% block title %}დამნაშავეები{% endblock %}

{% block content %}

<div class="main">
    <ul class="cards">
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img class="crim-img" src="../static/images/berlinN8.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">Berlin N8</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img class="crim-img" src="../static/images/dino-simone.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">Dino Simone</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img class="crim-img" src="../static/images/marvin.jpeg"></div>
                <div class="card_content">
                    <h2 class="card_title">Marvin Gerard</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img class="crim-img" src="../static/images/mrKaplan.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">MR Caplan</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img class="crim-img" src="../static/images/the-blacklist-robert-vesco-.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">Robert Vesco</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img class="crim-img" src="../static/images/wujing.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">Wujing</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
    </ul>
</div>

{% endblock %}