{% extends "base.html" %}

{% block title %}დამნაშავეები{% endblock %}

{% block content %}

<div class="main">
    <ul class="cards">
        {% for criminal in criminals %}
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img class="crim-img" src="{{ url_for('static', filename='images/' + criminal.image) }}"></div>
                <div class="card_content">
                    <h2 class="card_title">{{ criminal.name }}</h2>
                    <p class="card_text">{{ criminal.description }}</p>
                    <button class="btn card_btn">წაიკითხეთ მეტი</button>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
