<!-- templates/footer.html -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="social-icons">
                <a href="https://www.facebook.com/MIAofGeorgia" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/MIAofGeorgia" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/miaofgeorgia/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                <!-- Add more social icons as needed -->
            </div>
            <div class="subscribe">
                <input type="email" placeholder="შეიყვანეთ თქვენი მეილი" class="subscribe-input">
                <button class="subscribe-btn">გამოწერა</button>
            </div>
            <p class="footer-text">© 2023 საქართველოს შინაგან საქმეთა სამინისტრო. ყველა უფლება დაცულია.</p>
        </div>
    </div>
</footer>
