{% extends "base.html" %}
{% block content %}

<!-- Slider -->
<main>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 9</div>
            <img src="../static/images/ერთიანი მომსახურების ცენტრი.png" style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 9</div>
            <img src="../static/images/ვემსახურები საქართველოს.jpg" style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 9</div>
            <img src="../static/images/მართლწესრიგი.png" style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 9</div>
            <img src="../static/images/ვიდეოჯარიმა.png" style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">5 / 9</div>
            <img src="../static/images/აკადემია.png" style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">6 / 9</div>
            <img src="../static/images/რეკომენდაცია.png" style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">7 / 9</div>
            <img src="../static/images/პოლიციის ფაილები.jpg" style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">8 / 9</div>
            <img src="../static/images/ავტოპარკი.png" style="width:100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">9 / 9</div>
            <img src="../static/images/აპლიკაცია.png" style="width:100%">
            <div class="text"></div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <section class="container mx-auto py-10">
        <div class="container mx-auto text-center">
            <h2>მახასიათებლები & სარგებელი</h2>
        </div>
        <div id="benefit" class="grid grid-flow-row-dense grid-cols-3">
            <div class="px-4">
                <h2 class="text-2xl font-semibold mb-4">მახასიათებლები</h2>
                <ul class="list-disc list-inside grid grid-rows-5 grid-flow-col gap-5">
                    <li class="mb-2"> <i class="fas fa-check"></i>დანაშაულის პრევენცია</li>
                    <li class="mb-2"> <i class="fas fa-check"></i>მოქალაქეების დაცვა</li>
                    <li class="mb-2"> <i class="fas fa-check"></i>ეთიკური სტანდარტები</li>
                    <li class="mb-2"> <i class="fas fa-check"></i>ეფექტური რეაგირება</li>
                    <li class="mb-2"> <i class="fas fa-check"></i>ხარისხიანი სერვისი</li>
                </ul>
            </div>
            <div class="px-4">
                <h2 class="text-2xl font-semibold mb-4">სარგებელი</h2>
                <ul class="list-disc list-inside grid grid-rows-5 grid-flow-col gap-5">
                    <li class="mb-2"> <i class="fas fa-check"></i>მშვიდი გარემო</li>
                    <li class="mb-2"> <i class="fas fa-check"></i>უსაფრთხო ცხოვრება</li>
                    <li class="mb-2"> <i class="fas fa-check"></i>დემოკრატიული სტანდარტები</li>
                    <li class="mb-2"> <i class="fas fa-check"></i>ნდობაზე დაფუძნებული ურთიერთობები</li>
                    <li class="mb-2"> <i class="fas fa-check"></i>სამართლიანი სახელმწიფო</li>
                </ul>
            </div>
            <div>
                <img class="colums-4" src="../static/images/ოფიცერი.png" alt="ოფიცერი" srcset="">
            </div>
        </div>
    </section>
</main>

{% endblock %}